[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/lubasinkal/nvim
[submodule "doom/.config/doom"]
	path = doom/.config/doom
	url = https://github.com/lubasinkal/doom
